@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
:root {
  --main-color: #1885ae;
  --body-bg: #f5f8fa;
  --navbar-bg: #FFF;
  --icon-active: #2c2f32;
  --icon-idle: #8b88ff;
  --p-color: #2c2f32;
  --subp-color: #adafca;
  --link-color: #6956e5;
  --a-light: #FFF;
  --shadow-color: rgba(94, 92, 154, 0.0588235294);
  --border-color: #eaeaf5;
  --sub-light: #fcfcfd;
  --border-input: #dedeea;
}

.dark-mode {
  --main-color: #6956e5;
  --body-bg: #151521;
  --navbar-bg: #1e1e2d;
  --icon-active: #FFF;
  --icon-idle: #8b88ff;
  --p-color: #FFF;
  --subp-color: #9aa4bf;
  --link-color: #6956e5;
  --a-light: #FFF;
  --shadow-color: rgba(0, 0, 0, 0.0588235294);
  --border-color: #2f3749;
  --sub-light: #21283b;
  --border-input: #3f485f;
}

.form-group {
  width: 100%;
  position: relative;
  margin: 0;
}
.form-group label {
  color: #adafca;
  font-size: 0.75rem;
  font-weight: 600;
  position: absolute;
  top: 16px;
  right: 20px;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  display: block;
  margin: 0;
  line-height: 1em;
}
.form-group .form-control {
  height: 50px;
  padding: 7px 20px 7px 20px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  color: #3e3f5e;
  transition: border-color 0.2s ease-in-out;
  width: 100%;
  border-radius: 4px;
  font-size: 0.85rem;
  font-weight: 500;
}
.form-group .form-control:focus {
  border-color: #1885ae;
  box-shadow: none;
  outline: none;
}
.form-group .form-control::-moz-placeholder {
  color: #cacaca;
  font-weight: 500;
  font-size: 0.8rem;
}
.form-group .form-control::placeholder {
  color: #cacaca;
  font-weight: 500;
  font-size: 0.8rem;
}
.form-group select {
  cursor: pointer;
}

.create-account-btn {
  text-decoration: none;
  width: 100%;
  margin: auto;
  color: #FFF;
  display: inline-block;
  height: 43px;
  border-radius: 10px;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  line-height: 43px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  background-color: #7868e6;
  border: 0;
}
.create-account-btn svg {
  height: 18px;
  margin-left: 2px;
}
.create-account-btn svg path {
  fill: #FFF;
}
.create-account-btn:hover {
  background-color: #7868e6;
}

.form-check {
  display: flex;
  margin: 10px 5px 10px 0;
}
.form-check input {
  background-color: #fff;
  border: 1px solid #dedeea;
  height: 17px;
  width: 16px;
  position: unset;
  margin: 3px 0 0 5px;
}
.form-check p {
  color: #2c2f32;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 22px;
  cursor: pointer;
  display: block;
  margin: 0;
}
.form-check p a {
  text-decoration: none;
  color: #FFF;
}

p.text {
  margin-top: 30px;
  font-size: 0.875rem;
  line-height: 1.7142857143em;
  font-weight: 500;
  color: var(--p-color);
}
p.text a {
  text-decoration: none;
  color: #6956e5;
  font-weight: 700;
}

.active-input label {
  padding: 0 6px;
  font-size: 0.55rem;
  top: 9px;
  right: 20px;
}

.upper-header {
  background: #011923;
  padding: 12px 0;
}
.upper-header .upper-header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.upper-header .upper-header-content .upper-header-actions {
  display: flex;
  align-items: center;
}
@media (max-width: 575.98px) {
  .upper-header .upper-header-content .upper-header-actions {
    justify-content: space-between;
    width: 100%;
  }
}
.upper-header .upper-header-content .upper-header-actions .social {
  border-right: 1px solid #818181;
  padding-right: 15px;
}
@media (max-width: 575.98px) {
  .upper-header .upper-header-content .upper-header-actions .social {
    border: unset;
  }
}
.upper-header .upper-header-content .upper-header-actions .social ul {
  display: flex;
  align-items: center;
}
.upper-header .upper-header-content .upper-header-actions .social ul .social-icon {
  margin: 0 8px;
}
.upper-header .upper-header-content .upper-header-actions .social ul .social-icon a {
  display: block;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}
.upper-header .upper-header-content .upper-header-actions .social ul .social-icon a:hover svg {
  fill: #1885ae;
}
.upper-header .upper-header-content .upper-header-actions .social ul .social-icon a svg {
  height: 22px;
  width: 22px;
  fill: #FFF;
  transition: 0.2s ease-in-out;
}
@media (max-width: 575.98px) {
  .upper-header .upper-header-content .upper-header-actions .social ul .social-icon a svg {
    height: 18px;
    width: 18px;
  }
}
@media (max-width: 991.98px) {
  .upper-header .upper-header-content .upper-header-actions .nav-actions {
    display: none;
  }
}
.upper-header .upper-header-content .upper-header-actions .search-input {
  height: 40px;
  padding: 7px 35px 7px 35px;
  background-color: #05212c;
  border: 1px solid transparent;
  color: #FFF;
  transition: border-color 0.2s ease-in-out;
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: 500;
  width: 220px;
  direction: ltr;
}
@media (max-width: 1199.98px) {
  .upper-header .upper-header-content .upper-header-actions .search-input {
    width: 190px;
  }
}
@media (max-width: 575.98px) {
  .upper-header .upper-header-content .upper-header-actions .search-input {
    width: auto;
  }
}
.upper-header .upper-header-content .upper-header-actions .search-input:active {
  border: 1px solid #9ccb3b;
  box-shadow: none;
  outline: none;
}
.upper-header .upper-header-content .upper-header-actions .search-input:focus {
  border: 1px solid #9ccb3b;
  box-shadow: none;
  outline: none;
}
.upper-header .upper-header-content .upper-header-actions .search-input::-moz-placeholder {
  color: #cacaca;
  font-weight: 400;
  font-size: 0.8rem;
}
.upper-header .upper-header-content .upper-header-actions .search-input::placeholder {
  color: #cacaca;
  font-weight: 400;
  font-size: 0.8rem;
}
.upper-header .upper-header-content .upper-header-actions .search-icon {
  position: absolute;
  left: 10px;
  top: 46%;
  transform: translate(0, -50%);
}
.upper-header .upper-header-content .upper-header-actions .search-icon svg {
  height: 18px;
  width: 18px;
  fill: #9ccb3b;
}
.upper-header .upper-header-content .upper-header-actions .lang {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 0 0 15px;
  z-index: 10;
  width: auto;
  justify-content: end;
}
.upper-header .upper-header-content .upper-header-actions .lang .switch-langs {
  flex: 1;
  order: 2 !important;
  -webkit-box-ordinal-group: 2;
}
.upper-header .upper-header-content .upper-header-actions .lang .switch-langs h6 {
  margin: 1px 0 0 0;
  color: var(--p-color);
  font-family: "en";
}
.upper-header .upper-header-content .upper-header-actions .lang .li-links {
  position: absolute;
  top: 0;
  left: 0;
  text-align: right;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, -22px);
  transition: all 0.3s ease-in-out;
  z-index: 100;
}
.upper-header .upper-header-content .upper-header-actions .lang .li-links ul {
  display: block;
  width: 150px;
  display: block;
  text-align: left;
  padding: 10px 10px;
  border-radius: 8px;
  margin-top: 28px;
  background: #FFF;
}
@media (max-width: 1199.98px) {
  .upper-header .upper-header-content .upper-header-actions .lang .li-links ul {
    margin-top: 40px;
  }
}
.upper-header .upper-header-content .upper-header-actions .lang .li-links ul li {
  display: flex;
  margin: 8px 0;
  transition: all 0.3s ease-in-out;
  padding: 0 0;
}
.upper-header .upper-header-content .upper-header-actions .lang .li-links ul li:hover a {
  color: #6956e5;
}
.upper-header .upper-header-content .upper-header-actions .lang .li-links ul li a {
  color: var(--p-color);
  text-decoration: none;
}
.upper-header .upper-header-content .upper-header-actions .lang .hover-drop {
  display: flex;
  align-items: center;
}
.upper-header .upper-header-content .upper-header-actions .lang .hover-drop span {
  color: #FFF;
  position: relative;
  text-decoration: none;
  font-size: 0.95rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 0 3px;
  display: flex;
  align-items: center;
}
.upper-header .upper-header-content .upper-header-actions .lang .hover-drop .lang-icon svg {
  fill: #FFF;
  height: 18px;
  width: 18px;
  margin: 0 5px;
}
.upper-header .upper-header-content .upper-header-actions .lang .hover-drop .arrow {
  height: 20px;
  width: 20px;
  margin: 0px 8px 0 8px;
  fill: #FFF;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.upper-header .upper-header-content .upper-header-actions .lang .hover-drop .flag-svg {
  height: 20px;
  width: 20px;
  margin: 0 2px;
  border-radius: 50%;
}
.upper-header .upper-header-content .upper-header-actions .lang .hover-drop:hover .li-links {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 2px);
}
@media (max-width: 1199.98px) {
  .upper-header .upper-header-content .upper-header-actions .lang .hover-drop:hover .li-links {
    transform: translate(0, -8px);
  }
}
.upper-header .upper-header-content .upper-header-actions .lang .hover-drop .li-links {
  z-index: 150;
}
.upper-header .upper-header-content .upper-header-actions .lang .hover-drop .li-links li svg {
  height: 20px;
  width: 20px;
  margin: 0px 8px 0 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  transform: rotate(0);
}
.upper-header .upper-header-content .upper-header-actions .lang .hover-drop .li-links li a {
  font-weight: 600;
}
.upper-header .upper-header-content .upper-header-info {
  display: flex;
  align-items: center;
}
@media (max-width: 575.98px) {
  .upper-header .upper-header-content .upper-header-info {
    display: none;
  }
}
.upper-header .upper-header-content .upper-header-info .temp {
  border-right: 1px solid #05212c;
  padding-right: 15px;
  color: #FFF;
  display: flex;
  align-items: center;
}
.upper-header .upper-header-content .upper-header-info .temp svg {
  height: 18px;
  width: 18px;
  fill: #99c73b;
  margin: 0 3px;
}
.upper-header .upper-header-content .upper-header-info .date {
  color: #FFF;
  padding-left: 15px;
  display: flex;
  align-items: center;
}
.upper-header .upper-header-content .upper-header-info .date svg {
  height: 18px;
  width: 18px;
  fill: #99c73b;
  margin: 0 8px;
}

.header {
  background: #FFF;
  position: sticky;
  top: 0;
  z-index: 6;
  width: 100%;
  transition: all 0.1s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.header .navbar {
  background: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0 12px 0;
}
@media (max-width: 1199.98px) {
  .header .navbar {
    padding: 10px 0;
  }
}
@media (max-width: 991.98px) {
  .header .navbar {
    padding: 12px 15px;
  }
}
@media (max-width: 575.98px) {
  .header .navbar {
    padding: 12px 0;
  }
}
.header .navbar .nav-mobile-icon {
  display: none;
}
@media (max-width: 991.98px) {
  .header .navbar .nav-mobile-icon {
    display: block;
  }
}
.header .navbar .nav-mobile-icon svg {
  fill: #000;
}
.header .navbar .nav-part {
  display: flex;
  align-items: center;
}
.header .navbar .nav-logo {
  position: relative;
}
@media (max-width: 991.98px) {
  .header .navbar .nav-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
.header .navbar .nav-logo .nav-mobile-icon {
  display: none;
}
@media (max-width: 991.98px) {
  .header .navbar .nav-logo .nav-mobile-icon {
    display: block;
  }
}
.header .navbar .nav-logo .nav-mobile-icon svg {
  height: 24px;
  width: 24px;
  fill: #000;
}
.header .navbar .nav-logo .nav-logo-container {
  position: relative;
  z-index: 10;
  width: 130px;
}
@media (max-width: 1199.98px) {
  .header .navbar .nav-logo .nav-logo-container {
    width: 150px;
  }
}
@media (max-width: 991.98px) {
  .header .navbar .nav-logo .nav-logo-container {
    width: auto;
  }
}
.header .navbar .nav-logo .nav-logo-container a {
  text-decoration: none;
  display: flex;
  align-items: center;
  vertical-align: middle;
}
.header .navbar .nav-logo .nav-logo-container img {
  max-width: 100%;
  height: 40px;
}
@media (max-width: 1199.98px) {
  .header .navbar .nav-logo .nav-logo-container img {
    height: 35px;
  }
}
.header .navbar .nav-logo .nav-logo-container .main-logo {
  display: block;
}
.header .navbar .nav-logo .nav-logo-container .img-dark {
  display: none;
}
.header .navbar .nav-logo .nav-search-icon {
  display: none;
}
@media (max-width: 991.98px) {
  .header .navbar .nav-logo .nav-search-icon {
    display: block;
  }
}
.header .navbar .nav-logo .nav-search-icon svg {
  height: 24px;
  width: 24px;
  fill: #000;
}
.header .navbar .nav-links {
  margin-top: 0;
  direction: ltr;
}
@media (max-width: 991.98px) {
  .header .navbar .nav-links {
    background: var(--body-bg);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
    overflow: auto;
    text-align: center;
    margin-top: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    display: none;
  }
}
.header .navbar .nav-links .nav-close {
  display: none;
}
@media (max-width: 991.98px) {
  .header .navbar .nav-links .nav-close {
    display: block;
    position: fixed;
    top: 20px;
    left: 20px;
  }
}
.header .navbar .nav-links .nav-close svg {
  height: 25px;
  width: 25px;
  cursor: pointer;
}
.header .navbar .nav-links .nav-close svg g [fill] {
  fill: #000248;
}
.header .navbar .nav-links ul {
  display: flex;
  margin-bottom: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}
.header .navbar .nav-links ul li {
  padding: 0 7px;
  display: flex;
  align-items: center;
  position: relative;
}
.header .navbar .nav-links ul li:hover a, .header .navbar .nav-links ul li:hover span {
  color: #9ccb3b;
}
.header .navbar .nav-links ul li:hover .nav-link-dropdown {
  transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
}
@media (max-width: 1199.98px) {
  .header .navbar .nav-links ul li {
    padding: 0 7px;
  }
}
@media (max-width: 991.98px) {
  .header .navbar .nav-links ul li {
    padding: 10px 15px;
    transform: perspective(400px) rotateY(-15deg);
    z-index: -1;
    margin: 7px 0;
  }
}
.header .navbar .nav-links ul li a, .header .navbar .nav-links ul li span {
  color: #000;
  position: relative;
  text-decoration: none;
  font-size: 0.85rem;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
@media (max-width: 1199.98px) {
  .header .navbar .nav-links ul li a, .header .navbar .nav-links ul li span {
    font-size: 0.8rem;
  }
}
.header .navbar .nav-links ul li svg {
  height: 22px;
  width: 22px;
  margin: -1px 0px 0 0px;
  fill: #000;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.header .navbar .nav-links ul li .li-links {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, -22px);
  transition: all 0.3s ease-in-out;
}
.header .navbar .nav-links ul li .li-links ul {
  display: block;
  background: var(--body-bg);
  width: 150px;
  display: block;
  text-align: right;
  padding: 10px 15px;
  border-radius: 8px;
  margin-top: 28px;
}
@media (max-width: 1199.98px) {
  .header .navbar .nav-links ul li .li-links ul {
    margin-top: 40px;
  }
}
.header .navbar .nav-links ul li .li-links ul li {
  display: block;
  margin: 8px 0;
  transition: all 0.3s ease-in-out;
  padding: 0 0;
}
.header .navbar .nav-links ul li .li-links ul li:hover {
  padding-right: 14px;
}
.header .navbar .nav-links ul li .li-links ul li:hover a {
  color: #9ccb3b;
}
.header .navbar .nav-links ul li .li-links ul li a {
  color: var(--p-color);
}
.header .navbar .nav-links ul li .nav-link-dropdown {
  position: absolute;
  top: 30px;
  left: 4px;
  background: #FFF;
  z-index: 100;
  padding: 10px 10px 10px 10px;
  border-radius: 8px;
  box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
  transform: translate(0, -10px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  width: 200px;
}
@media (max-width: 991.98px) {
  .header .navbar .nav-links ul li .nav-link-dropdown {
    display: none;
  }
}
.header .navbar .nav-links ul li .nav-link-dropdown ul {
  display: block;
  text-align: left;
}
.header .navbar .nav-links ul li .nav-link-dropdown ul li {
  transition: all 0.2s ease-in-out;
  margin: 10px 0;
}
.header .navbar .nav-links ul li .nav-link-dropdown ul li:hover a {
  color: #1885ae;
}
.header .navbar .nav-links ul li .nav-link-dropdown ul li a {
  font-size: 0.9rem;
  transition: all 0.2s ease-in-out;
  color: #000;
}
.header .navbar .nav-links ul .hover-drop:hover .li-links {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
}
.header .navbar .nav-links ul .nav-link-active a {
  color: #9ccb3b;
}
@media (max-width: 991.98px) {
  .header .navbar .nav-links ul .nav-link-active a {
    color: #9ccb3b;
  }
}
.header .navbar .nav-links ul .nav-link-active a:before {
  background: #000248;
  border-color: #000248;
}

.fixed-header:after {
  display: none;
}

.big-nav {
  width: 350px;
  padding-top: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 15;
  box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
  background: #FFF;
  height: 100vh;
  transition: all 0.4s ease-in-out;
  transition-delay: 0.1s;
  overflow: auto;
  direction: rtl;
}
@media (max-width: 575.98px) {
  .big-nav {
    width: 100%;
    height: 100vh;
  }
}
.big-nav .big-nav-header-title {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 15px 20px;
  border-bottom: 1px solid #ebebeb;
  align-items: center;
  background: #FFF;
}
.big-nav .big-nav-header-title .nav-logo-container a {
  text-decoration: none;
  color: #000;
}
.big-nav .big-nav-header-title .nav-logo-container a img {
  height: 40px;
}
@media (max-width: 575.98px) {
  .big-nav .big-nav-header-title .nav-logo-container a img {
    height: 40px;
  }
}
.big-nav .big-nav-header-title .close-big-nav svg {
  fill: #000;
  width: 30px;
  cursor: pointer;
}
.big-nav .big-nav-header-title .close-link-popup svg {
  fill: #000;
}
.big-nav .big-nav-search .nav-search {
  width: 100%;
  padding: 10px 10px;
  display: flex;
}
.big-nav .big-nav-search .nav-search form {
  width: 100%;
}
.big-nav .big-nav-search .nav-search .form-group {
  width: 100%;
  position: relative;
  margin: 0;
}
.big-nav .big-nav-search .nav-search .form-group .form-control {
  height: 43px;
  padding: 0 40px 0 20px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  color: #3e3f5e;
  transition: border-color 0.2s ease-in-out;
  width: 100%;
  border-radius: 4px;
  font-size: 0.85rem;
  font-weight: 500;
}
.big-nav .big-nav-search .nav-search .form-group .form-control:focus {
  border-color: #1885ae;
  box-shadow: none;
  outline: none;
}
.big-nav .big-nav-search .nav-search .form-group .form-control::-moz-placeholder {
  color: #cacaca;
  font-weight: 500;
  font-size: 0.7rem;
}
.big-nav .big-nav-search .nav-search .form-group .form-control::placeholder {
  color: #cacaca;
  font-weight: 500;
  font-size: 0.7rem;
}
.big-nav .big-nav-search .nav-search .form-group .search-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0%, -50%);
}
.big-nav .big-nav-search .nav-search .form-group .search-icon svg {
  transform: rotateY(180deg);
  font-size: 0.7rem;
  height: 18px;
  width: 18px;
}
.big-nav .nav-links {
  width: 100%;
  height: 100%;
  position: relative;
}
@media (max-width: 767.98px) {
  .big-nav .nav-links ul {
    overflow: scroll;
    height: calc(100vh - 55px);
  }
}
.big-nav .nav-links ul .ul-head {
  padding-right: 30px;
  color: #adafca;
  font-size: 0.75rem;
  font-weight: 500;
}
.big-nav .nav-links ul li {
  text-decoration: none;
  color: #adafca;
  width: 100%;
  display: block;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  border-top: 1px solid rgba(229, 229, 229, 0.5411764706);
}
.big-nav .nav-links ul li .li-link {
  width: 100%;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.big-nav .nav-links ul li .li-link .link-info {
  white-space: nowrap;
  border-radius: 50px;
  margin: 0;
  transition: all 0.3s ease-in-out 0s;
  display: inline-flex;
  padding: 0 20px 0 0;
}
.big-nav .nav-links ul li .li-link .link-info a {
  text-decoration: none;
  color: #000;
  font-size: 0.9rem;
  line-height: 25px;
  font-weight: 500;
  transition: all 0.3s ease-in-out 0s;
  padding: 17px 0 17px 15px;
}
.big-nav .nav-links ul li .li-link .li-link-icon {
  width: 50px;
  display: flex;
  justify-content: end;
  cursor: pointer;
  padding: 17px 15px 17px 15px;
}
.big-nav .nav-links ul li .li-link .li-link-icon svg {
  height: 16px;
  width: 16px;
  fill: #000;
}
.big-nav .nav-links ul li .nav-link-popup {
  width: 350px;
  padding-top: 0;
  position: fixed;
  top: 0;
  z-index: 20;
  box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
  background: #FFF;
  height: 100vh;
  transition: all 0.4s ease-in-out;
  transition-delay: 0.1s;
  overflow: auto;
}
@media (max-width: 575.98px) {
  .big-nav .nav-links ul li .nav-link-popup {
    width: 100%;
    height: 100vh;
  }
}
.big-nav .nav-links ul .li-active {
  background-color: #FFF;
  color: #000;
}
.big-nav .nav-links ul .li-active a svg {
  fill: #1885ae;
}
.big-nav .nav-links ul .li-active a svg g [fill] {
  fill: #1885ae;
}
.big-nav .nav-links ul .li-active a .svg-icon path {
  fill: #1885ae;
  stroke: #1885ae;
}
.big-nav .nav-links ul .li-active a .link-info {
  visibility: visible;
  padding-right: 8px;
}
.big-nav .nav-links ul .li-active a .link-info span {
  color: #1885ae !important;
}
.big-nav .nav-links ul .li-active a .link-info span:hover {
  color: #1885ae;
}
.big-nav .nav-links ul .li-active:hover {
  background: #FFF;
  color: #1885ae;
}
.big-nav::-webkit-scrollbar {
  display: none;
}

.big-nav-hiddin {
  transform: translate(560px, 0);
  opacity: 0;
  z-index: -1 !important;
}

.close-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(22, 22, 34, 0.6);
  z-index: 10;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.open-over {
  opacity: 1;
  visibility: visible;
}

.active-dropdown {
  transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
}

.content {
  margin-top: 0;
}

footer {
  margin-top: 50px;
  background: #3e5352;
  padding: 75px 0 0 0;
}
@media (max-width: 991.98px) {
  footer .col-r {
    text-align: left !important;
  }
}
footer .footer-col {
  text-align: left;
  display: inline-block;
  margin-bottom: 25px;
}
@media (max-width: 991.98px) {
  footer .footer-col {
    padding-left: 50px;
  }
}
footer .footer-col .Footer-head {
  margin-bottom: 25px;
}
footer .footer-col .Footer-head a {
  text-decoration: none;
  color: #FFF;
  font-size: 1.3rem;
  display: block;
}
footer .footer-col .Footer-head a.footer-logo {
  font-family: "en-bold";
  font-size: 1.4rem;
}
footer .footer-col .Footer-head a.footer-logo img {
  width: 150px;
}
footer .footer-col p.footer-address {
  color: #FFF;
  font-size: 13px;
  margin-bottom: 15px;
}
footer .footer-col ul {
  margin: 0;
  padding: 0;
}
footer .footer-col ul li {
  color: #FFF;
  font-size: 13px;
  margin: 0 0 15px;
  transition: all 0.3s ease-in-out;
}
footer .footer-col ul li:hover {
  transform: translate(7px, 0);
}
footer .footer-col ul li span {
  color: #FFF;
}
footer .footer-col ul li a {
  color: #FFF;
  text-decoration: none;
}
footer .sub-footer {
  padding: 20px 0;
  background: #151921;
  color: #FFF;
  margin-top: 0;
  align-items: center;
}
footer .sub-footer p.copy {
  color: #7e868e;
  font-size: 12px;
  margin: 0;
  text-align: left;
}
footer .sub-footer p.copy a {
  color: #2ae99e;
  text-decoration: none;
}
@media (max-width: 767.98px) {
  footer .sub-footer p.copy {
    text-align: center;
    margin-bottom: 0;
  }
}
footer .sub-footer .links {
  font-size: 13px;
  color: #FFF;
  margin: 0 10px;
  text-decoration: none;
}
@media (max-width: 767.98px) {
  footer .sub-footer .links {
    text-align: center;
    margin-bottom: 20px;
    display: inline-flex;
  }
}
footer .sub-footer .links svg {
  fill: #FFF;
  height: 18px;
  width: 18px;
}

[lang=ar] footer {
  direction: rtl;
}
@media (max-width: 991.98px) {
  [lang=ar] footer .col-r {
    text-align: right !important;
  }
}
[lang=ar] footer .footer-col {
  text-align: right;
  padding-left: 0;
  padding-right: 50px;
}
[lang=ar] footer .footer-col li {
  transition: all 0.3s ease-in-out;
}
[lang=ar] footer .footer-col li:hover {
  transform: translate(-7px, 0);
}
[lang=ar] footer .sub-footer p.copy {
  text-align: center;
  direction: ltr;
}
@media (min-width: 767.98px) {
  [lang=ar] footer .sub-footer p.copy {
    text-align: right !important;
  }
}
@media (min-width: 767.98px) {
  [lang=ar] footer .sub-footer .text-md-right {
    text-align: left !important;
  }
}

[lang=ar] body {
  direction: rtl;
  text-align: right;
}
[lang=ar] .upper-header {
  direction: ltr;
}
[lang=ar] .upper-header .date {
  direction: rtl;
}
[lang=ar] .upper-header .temp {
  direction: rtl;
}
[lang=ar] .header .nav-links {
  direction: rtl;
}
[lang=ar] .header .nav-links .nav-link-dropdown {
  left: unset;
  right: 4px;
}
[lang=ar] .header .search-input {
  padding: 7px 35px 7px 20px;
  direction: rtl;
}
[lang=ar] .header .search-icon {
  left: unset;
  right: 10px;
}

.d-12-none {
  display: block !important;
}
@media (max-width: 1199.98px) {
  .d-12-none {
    display: none !important;
  }
}

.d-12-block {
  display: none !important;
}
@media (max-width: 1199.98px) {
  .d-12-block {
    display: block !important;
  }
}

.cus-section-header h2 {
  font-size: 48px;
  font-weight: 600;
}
.cus-section-header p {
  font-size: 16px;
}

.image-with-content-item_img img {
  max-width: 100%;
}

.image-with-content-item_title a h3 {
  text-align: center;
}
.image-with-content-item_title a h3 span {
  text-align: center;
}

.image-with-content-strip {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}

.image-with-content-item_des {
  border-top: 2px solid #DDD;
  padding-top: 20px;
}

.page-title {
  text-align: center;
  padding: 50px 0 0 0;
  font-size: 3.5rem;
  color: #85a6c5;
  font-weight: 600;
}

.blogs {
  padding: 75px 0;
}
.blogs .storie-article-item {
  margin: 25px 0;
}
.blogs .storie-article-item h3 {
  color: #3c8275;
  font-size: 1.5rem;
}
.blogs .storie-article-item p {
  font-size: 0.9rem;
}
.blogs .storie-article-item .storie-article-item__image {
  height: 250px;
  background-size: cover;
  background-position: center center;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #FFF;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

.row {
  overflow: hidden;
}

.container-fluid {
  padding-right: 50px;
  padding-left: 50px;
}

.row-inside-row {
  margin-right: -8px;
  margin-left: -8px;
}

.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-md-6,
.col-md-3,
.col-md-4,
.col-md-8,
.col-md-9,
.col-sm-4,
.col-sm-6 {
  padding-right: 8px;
  padding-left: 8px;
}

a {
  display: block;
  text-decoration: none;
  color: unset;
}
a:hover {
  color: unset;
  text-decoration: unset;
}

.section-header {
  margin: 30px 0;
  border-left: 10px solid #f8be5e;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-header h3 {
  color: #1885ae;
  font-size: 3rem;
  padding-left: 10px;
  margin-bottom: 0;
}
@media (max-width: 575.98px) {
  .section-header h3 {
    font-size: 2rem;
  }
}
.section-header a {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  padding: 5px 0;
}
@media (max-width: 575.98px) {
  .section-header a {
    font-size: 1rem;
  }
}
.section-header a svg {
  height: 20px;
  width: 20px;
  fill: #1885ae;
  margin-left: 5px;
}
@media (max-width: 575.98px) {
  .section-header a svg {
    height: 16px;
    width: 16px;
  }
}

.page-header {
  margin: 40px 0;
}

.load-more:hover a {
  background: #000;
  color: #FFF;
}
.load-more a {
  background: #1885ae;
  padding: 10px 35px;
  border-radius: 0;
  display: table;
  margin: 20px auto 40px auto;
  color: #FFF;
  font-weight: 500;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
}
.load-more a img {
  width: 30px;
  margin: 0 6px;
}

.req {
  background: #1885ae;
  padding: 10px 25px;
  display: table;
  margin: auto;
  text-align: center;
  margin-top: 35px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: #FFF;
  cursor: pointer;
  border-radius: 12px;
}

.req-one-ser {
  margin: 0;
}
.req-one-ser svg {
  fill: #FFF;
}

.lg-backdrop,
.lg-outer,
.lg-outer .lg-inner {
  direction: ltr;
}

.lg-progress-bar .lg-progress {
  background: #1885ae !important;
}

.lg-backdrop {
  background-color: rgba(21, 21, 31, 0.96);
}

.lg-outer .lg-thumb-item {
  cursor: pointer !important;
  float: left;
  overflow: hidden;
  margin-bottom: 5px;
  border: 0;
  border-radius: 0;
  margin: 0 !important;
  opacity: 0.3;
  transition: all 0.3s ease-in-out;
}

.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover {
  opacity: 1;
}

.lg-outer .lg-thumb {
  margin: auto;
}

.order-service, .contact-container {
  position: fixed;
  z-index: 5555;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 60%;
  background: #FFF;
  padding: 15px 40px;
  border-radius: 12px;
  transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s, transform 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 767.98px) {
  .order-service, .contact-container {
    width: 95%;
  }
}
.order-service .order-service-content .order-servive-header, .contact-container .order-service-content .order-servive-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid #ebebeb;
}
.order-service .order-service-content .order-servive-header h6, .contact-container .order-service-content .order-servive-header h6 {
  font-size: 2rem;
}
.order-service .order-service-content .order-servive-header svg, .contact-container .order-service-content .order-servive-header svg {
  fill: #000;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.order-service .order-service-content .order-service-form, .contact-container .order-service-content .order-service-form {
  margin: 15px 5px 15px 5px;
}
.order-service .order-service-content .order-service-form .form-group, .contact-container .order-service-content .order-service-form .form-group {
  margin: 6px 0;
}
.order-service .order-service-content .order-service-form textarea, .contact-container .order-service-content .order-service-form textarea {
  min-height: 200px;
}
.order-service .order-service-content .order-service-form button, .contact-container .order-service-content .order-service-form button {
  margin-top: 15px;
  width: 100%;
  background: #1885ae;
  color: #FFF;
  font-size: 1rem;
  font-weight: 500;
  border: 0;
  outline: unset;
  box-shadow: unset;
  padding: 12px 0;
  border-radius: 8px;
  margin: 10px 10px 0 10px;
}

.open-popup {
  opacity: 1 !important;
  visibility: visible !important;
  transform: translate(-50%, -50%) !important;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: linear-gradient(45deg, #f2fffc, #edf3ff);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9ccb3b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #05212c;
}

.home-header {
  position: relative;
  height: 500px;
  width: 100%;
  background: #161b28;
  background-position: center center;
  background-size: cover;
}
@media (max-width: 991.98px) {
  .home-header {
    height: 325px;
  }
}
.home-header .header-overlay {
  height: 100%;
  width: 100%;
}
.home-header .navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  background: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 50px;
}
@media (max-width: 1199.98px) {
  .home-header .navbar {
    padding: 25px 25px;
  }
}
.home-header .navbar .nav-logo a {
  text-decoration: none;
  display: flex;
  align-items: center;
  vertical-align: middle;
}
.home-header .navbar .nav-logo p {
  color: #FFF;
  font-family: "en-bold";
  font-size: 1.3rem;
  margin-bottom: 0;
  margin-bottom: 0;
  margin-left: 6px;
  margin-top: 0px;
  text-transform: uppercase;
}
@media (max-width: 1199.98px) {
  .home-header .navbar .nav-logo p {
    font-size: 1.1rem;
  }
}
@media (max-width: 575.98px) {
  .home-header .navbar .nav-logo p {
    display: none;
  }
}
.home-header .navbar .nav-logo img {
  width: 75px;
}
@media (max-width: 575.98px) {
  .home-header .navbar .nav-logo img {
    height: 40px;
    width: 40px;
  }
}
@media (max-width: 991.98px) {
  .home-header .navbar .nav-links {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #00d2ff; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    z-index: 5;
    overflow: auto;
    text-align: center;
  }
}
.home-header .navbar .nav-links .nav-close {
  display: none;
}
@media (max-width: 991.98px) {
  .home-header .navbar .nav-links .nav-close {
    display: block;
    position: fixed;
    top: 20px;
    left: 20px;
  }
}
.home-header .navbar .nav-links .nav-close svg {
  height: 25px;
  width: 25px;
}
.home-header .navbar .nav-links .nav-close svg g [fill] {
  fill: #FFF;
}
.home-header .navbar .nav-links ul {
  display: flex;
  margin-bottom: 0;
  padding: 0;
}
@media (max-width: 991.98px) {
  .home-header .navbar .nav-links ul {
    display: block;
    text-align: left;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.home-header .navbar .nav-links ul li {
  padding: 0 10px;
  display: flex;
  align-items: center;
  position: relative;
}
.home-header .navbar .nav-links ul li:hover a, .home-header .navbar .nav-links ul li:hover span, .home-header .navbar .nav-links ul li:hover svg {
  color: #6956e5;
  fill: #6956e5;
}
@media (max-width: 1199.98px) {
  .home-header .navbar .nav-links ul li {
    padding: 15px 8px;
  }
}
.home-header .navbar .nav-links ul li a, .home-header .navbar .nav-links ul li span {
  color: #FFF;
  position: relative;
  text-decoration: none;
  font-size: 0.9rem;
  display: block;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
@media (max-width: 991.98px) {
  .home-header .navbar .nav-links ul li a:before, .home-header .navbar .nav-links ul li span:before {
    content: "";
    height: 12px;
    width: 12px;
    border: 1px solid #FFF;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin: 0 10px;
    margin-top: -2px;
  }
}
.home-header .navbar .nav-links ul li svg {
  height: 10px;
  width: 10px;
  margin: 0px 8px 0 8px;
  fill: #FFF;
  transform: rotate(90deg);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.home-header .navbar .nav-links ul li .li-links {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, -22px);
  transition: all 0.3s ease-in-out;
}
.home-header .navbar .nav-links ul li .li-links ul {
  display: block;
  background: var(--body-bg);
  width: 150px;
  display: block;
  text-align: right;
  padding: 10px 15px;
  border-radius: 12px;
  margin-top: 28px;
}
@media (max-width: 1199.98px) {
  .home-header .navbar .nav-links ul li .li-links ul {
    margin-top: 40px;
  }
}
.home-header .navbar .nav-links ul li .li-links ul li {
  display: block;
  margin: 8px 0;
  transition: all 0.3s ease-in-out;
  padding: 0 0;
}
.home-header .navbar .nav-links ul li .li-links ul li:hover {
  padding-right: 14px;
}
.home-header .navbar .nav-links ul li .li-links ul li:hover a {
  color: #6956e5;
}
.home-header .navbar .nav-links ul li .li-links ul li a {
  color: var(--p-color);
}
.home-header .navbar .nav-links ul .hover-drop:hover .li-links {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
}
.home-header .navbar .nav-links ul .nav-link-active a {
  color: #6956e5;
  font-weight: 900;
}
@media (max-width: 991.98px) {
  .home-header .navbar .nav-links ul .nav-link-active a {
    color: #000;
  }
}
.home-header .navbar .nav-links ul .nav-link-active a:before {
  background: #FFF;
  border-color: #FFF;
}
.home-header .navbar .nav-actions {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 17px 0 32px;
}
.home-header .navbar .nav-actions .icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.home-header .navbar .nav-actions .icon svg {
  fill: #FFF;
  height: 20px;
  width: 20px;
  margin: 0 10px;
}
@media (max-width: 575.98px) {
  .home-header .navbar .nav-actions .icon svg {
    margin: 0 8px;
  }
}
.home-header .navbar .nav-actions .icon span {
  color: var(--p-color);
}
.home-header .navbar .nav-actions .icon.dark-mode svg {
  height: 25px !important;
  width: 25px !important;
}
.home-header .navbar .nav-actions .icon.dark-mode svg g [fill] {
  fill: #FFF;
}
.home-header .navbar .nav-actions .switch-langs h6.page-lang {
  color: #FFF;
  font-weight: 900;
  font-family: "ar-reg";
  margin-bottom: 0;
  margin-top: 6px;
}
.home-header .navbar .nav-actions .nav-toggler {
  display: none;
}
@media (max-width: 991.98px) {
  .home-header .navbar .nav-actions .nav-toggler {
    display: block;
  }
}
.home-header .header-content {
  text-align: center;
  color: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 85%;
}
@media (max-width: 991.98px) {
  .home-header .header-content {
    width: 85%;
  }
}
.home-header .header-content figure {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 85px;
  width: 85px;
  text-align: center;
  margin: 0 auto 25px auto;
}
@media (max-width: 991.98px) {
  .home-header .header-content figure {
    margin: 0 auto 15px auto;
    height: 50px;
    width: 50px;
  }
}
.home-header .header-content h1 {
  text-transform: uppercase;
  font-size: 3.5rem;
}
@media (max-width: 991.98px) {
  .home-header .header-content h1 {
    font-size: 3.1rem;
  }
}
@media (max-width: 767.98px) {
  .home-header .header-content h1 {
    font-size: 2.7rem;
  }
}
@media (max-width: 575.98px) {
  .home-header .header-content h1 {
    font-size: 2.4rem;
  }
}

.home-header {
  height: calc(100vh - 128px);
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .home-header {
    height: 75vh;
  }
}
.home-header .header-overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.home-header .navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background: transparent;
  width: 100%;
}
.home-header .swiper-container {
  height: 100%;
  position: relative;
}
.home-header .swiper-container .swiper-wrapper .swiper-slide {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.home-header .swiper-container .swiper-wrapper .swiper-slide .swiper-slider-content {
  height: 100%;
  width: 100%;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.26), rgba(0, 85, 103, 0));
}
.home-header .swiper-container .swiper-wrapper .swiper-slide .swiper-slider-content h1 {
  color: #FFF;
  font-size: 5rem;
  font-weight: 600;
  text-align: center;
}
@media (max-width: 767.98px) {
  .home-header .swiper-container .swiper-wrapper .swiper-slide .swiper-slider-content h1 {
    font-size: 2.5rem;
    margin: 30px 15px 10px 15px;
  }
}
.home-header .swiper-container .swiper-wrapper .swiper-slide .swiper-slider-content p {
  color: #FFF;
  font-size: 1.2rem;
  text-align: center;
}
@media (max-width: 767.98px) {
  .home-header .swiper-container .swiper-wrapper .swiper-slide .swiper-slider-content p {
    font-size: 1rem;
    margin: 0 25px;
  }
}
.home-header .swiper-container .swiper-wrapper .swiper-slide .swiper-slider-content a {
  text-decoration: none;
  border: 1px solid #FFF;
  font-size: 1rem;
  padding: 10px 30px 10px 30px;
  color: #FFF;
  font-weight: 500 !important;
  margin-top: 12px;
  display: inline-block;
  border-radius: 50px;
}
@media (max-width: 767.98px) {
  .home-header .swiper-container .swiper-wrapper .swiper-slide .swiper-slider-content a {
    font-size: 0.8rem;
    margin: 12px 15px 0 15px;
  }
}

.swiper-pagination-bullet-active {
  background: #9ccb3b;
}

.alfalfa {
  padding: 75px 0;
}
.alfalfa .alfalfa-content {
  margin-top: 75px;
}
.alfalfa .alfalfa-content .alfalfa-content-left-side {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
}
.alfalfa .alfalfa-content .alfalfa-content-left-side .left-image-content {
  text-align: center;
}
.alfalfa .alfalfa-content .alfalfa-content-left-side .left-image-content a {
  text-decoration: none;
}
.alfalfa .alfalfa-content .alfalfa-content-left-side .left-image-content a h2 {
  font-size: 48px;
  font-weight: 600;
}
.alfalfa .alfalfa-content .alfalfa-content-left-side .left-image-content a p {
  font-size: 16px;
  font-weight: 500;
}
.alfalfa .alfalfa-content .left-item-image-img a {
  text-decoration: none;
}
.alfalfa .alfalfa-content .left-item-image-img a img {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
}
.alfalfa .alfalfa-content .color-strip {
  height: 45px;
  width: 100%;
}
.alfalfa .right-image-group-content h3 {
  font-size: 2.5rem;
}
.alfalfa .right-image-group-content h4 {
  font-family: "Dancing Script", cursive;
}

.from-filed-to-table {
  text-align: center;
}
.from-filed-to-table img {
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  width: 100%;
}

.alfalfa-header {
  text-align: center;
}
.alfalfa-header span {
  font-weight: 400;
  font-size: 1.5rem;
  color: gray;
  text-transform: uppercase;
  margin-bottom: 15px;
  display: block;
}
.alfalfa-header .h3-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 25px;
}
.alfalfa-header .h3-image img {
  width: 200px;
  margin: 0 5px;
  margin-top: -15px;
}
.alfalfa-header h3 {
  color: #9ccb3b;
  font-size: 2.75rem;
  text-transform: uppercase;
}

.two-col-content {
  padding: 50px 25px;
}

.section-content {
  padding-top: 75px;
}

.blog-section .blog-section-header {
  margin-bottom: 75px;
}
.blog-section .blog-section-header h2 {
  color: #3c8275;
  font-size: 48px;
  font-weight: 600;
}
.blog-section .blog-section-header p {
  color: #3c8275;
  font-size: 16px;
}
.blog-section figure {
  background-size: cover;
  height: 202px;
}

.contacts {
  padding: 150px 0 75px 0;
}
.contacts .contacts-header {
  text-align: center;
  padding-bottom: 75px;
}
.contacts .contacts-header h2 {
  font-size: 3rem;
  font-weight: 600;
}
.contacts label span {
  background: transparent;
  display: block;
  margin-bottom: 5px;
  padding: 0;
  position: static;
  transform: none;
  color: #252425;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  font-size: 16px;
}
.contacts .form-grou {
  margin-bottom: 25px;
}
.contacts .form-grou label {
  background: transparent;
  display: flex;
  margin-bottom: 5px;
  padding: 0;
  position: static;
  transform: none;
  color: #252425;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  font-size: 16px;
}
.contacts .form-grou input, .contacts .form-grou select, .contacts .form-grou textarea {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  outline: 0 !important;
  color: #727272;
  background-color: hsla(0, 0%, 100%, 0);
  border: 1px solid #3d8275;
  border-radius: 0;
  color: #252425;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding: 15px;
  text-decoration: none;
  width: 100%;
}
.contacts .inputs-ul ul {
  padding: 0;
  list-style: none;
}
.contacts .form-checkbox label {
  display: flex;
  align-items: center;
}
.contacts .form-checkbox label span {
  margin: 1px 5px;
}
.contacts input[type=submit] {
  fill: #fff;
  background-color: #3d8275;
  border: 1px solid #3d8275;
  border-radius: 4px;
  color: #fff;
  font-family: Kumbh Sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  padding: 12px 36px;
  text-decoration: none;
  text-transform: none;
}/*# sourceMappingURL=main.css.map */